@font-face {
	font-family: 'icomoon';
	src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?3qkin2');
	src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?#iefix3qkin2') format('embedded-opentype'),
		url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.woff?3qkin2') format('woff'),
		url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.ttf?3qkin2') format('truetype'),
		url('fhttps://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.svg?3qkin2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
:root {
  --primary-color:#0b7375;
  --secondary-color:#F47C46;
  --text-color:#606060;
  --title-color:#3C3C3C;
  --dark-color:#12253D;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased !important;
  font-size: 16px;
  background: #f9f9f9;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

/*----------------------------------------------
    HEADER
----------------------------------------------*/

nav {
  background-color: var(--primary-color);
}

.navbar-brand > img {
  max-width: 132px;
}

.navbar-toggler-icon{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")}

nav a, nav a:hover {
  color: #ffffff;
}
nav a {
  position: relative;
}
header .ph__navbar-list a:hover {
  transition: 700ms;
}

header .ph__navbar-list a::after {
  content: "";
    width: 0;
    height: 5px;
    background-color: var(--secondary-color);
    position: absolute;
    left: 0;
    bottom: -5px;
}

header .ph__navbar-list a:hover::after {
  width: 100%;
  transition: width 400ms ease-in-out;
}

.ph__main-title {
  margin: 2em 0;
}

.ph__main-title h1 {
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  color: #3C3C3C;
}

.ph__main-title .ribbon {
  width: 40px;
  height: 7px;
  background-color: var(--secondary-color);
  display: inline-block;
  margin-right: 0.3em;
}

/*----------------------------------------------
    BANNER
----------------------------------------------*/

.ph__banner-search {
  background: rgb(44,165,150);
  background: -moz-linear-gradient(90deg, rgba(44,165,150,1) 0%, rgba(7,111,115,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(44,165,150,1) 0%, rgba(7,111,115,1) 100%);
  background: linear-gradient(90deg, rgba(44,165,150,1) 0%, rgba(7,111,115,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2ca596",endColorstr="#076f73",GradientType=1);
  text-align: center;
}
.ph__banner-search input,
.ph__banner-search button  {
  width: 100%;
  padding: .4em 1em;
  border: none;
  border-radius: 3px;
  color: var(--primary-color);;
}

.ph__banner-search button {
  width: 100%;
  height: 100%;
  background: #87bbb5;
  padding: .4em 1em;
  border: none;
  border-radius: 3px;
  color: #ccc;
}

.ph__banner-search button:hover {
  background: #066265;
}

.footer {
  width: 100%;
  line-height: 60px; /* Vertically center the text there */
  background-color: #12253D;
}

.footer > div {
  text-align: center;
}

.footer > div span {
  color: #8593A3;
}

form button > svg {
  color: var(--primary-color);
}

form button:hover > svg {
  color: #fff
}

/* MARKETING CONTENT
-------------------------------------------------- */

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 800;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  letter-spacing: -.05rem;
  font-weight: 600;
  margin-bottom: 0.5em;
  line-height: 1.2em;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 3rem;
  }
}

.ph__about__img-team > img {
  border-radius: 50%;
  max-width: 300px;
}

.card-body {
  text-align: center;
}

h5.card-title {
  color: #12263d;
  font-size: 1.5em;
  font-weight: bold;
}

.ph__remedy-value-notax {
  color: var(--secondary-color);
  font-size: 2em;
  font-weight: 600;
}

/* SOCIAL
------------------------- */

.social-networks li {
  display: inline-block;
}
.social-networks a {
  display: block;
  position: relative;
  margin: 0 7px;
  width: 40px;
  height: 40px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  text-decoration: none;
}
.social-networks a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  margin-top: -50%;
  margin-left: -50%;
  border-radius: 100px;
  background-color: #ccc;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
.social-networks a:after {
  position: relative;
  display: block;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #fff;
  font-size: 26px;
  line-height: 40px;
}
.social-networks a:hover, .social-networks a:focus {
  text-decoration: none;
}
.social-networks.spin-icon a:hover:after, .social-networks.spin-icon a:focus:after {
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
}
.social-networks.square a:hover:before, .social-networks.square a:focus:before {
  border-radius: 0;
}
.social-networks.bounce a:hover, .social-networks.bounce a:focus {
  -webkit-animation: bounce 1s;
          animation: bounce 1s;
}
.social-networks .icon-linkedin:after {
  content: "";
}
.social-networks .icon-linkedin:hover:before, .social-networks .icon-linkedin:focus:before {
  background: #0077b5;
}
.social-networks .icon-github:after {
  content: "";
}
.social-networks .icon-github:hover:before, .social-networks .icon-github:focus:before {
  background: #4183c4;
}

@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  40% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -6px, 0);
            transform: translate3d(0, -6px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -2px, 0);
            transform: translate3d(0, -2px, 0);
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  40% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -6px, 0);
            transform: translate3d(0, -6px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -2px, 0);
            transform: translate3d(0, -2px, 0);
  }
}

/*----------------------------------------------
    Body-Main-Section_Tela de Dados
----------------------------------------------*/
.dadospadding{
  width: 80%;
  margin:auto;
}

.dadospadding .row{
  margin-top: 4%;
  justify-content: space-around;
}

.dadospadding .centralizado{
  text-align: center;
}


.dadospadding #nome{
  color: #F47C46;
  font-size: 48px;
  padding-top: 3%;
  padding-bottom: 2%;
  font-weight: bold;
}

.dadospadding p{
  font-size: 35px;
}

.dadospadding .identificacao{
  font-weight: bold;
  padding-top: 3%;
 }

 .dadospadding .dados{
  color: #F47C46;
  font-size: 43px;
  padding-top: 2%;
  padding-bottom: 6%;
}

.dadospadding .descricao{
  font-size: 28px ;
}

.dadospadding .destaque{
  background-color:rgb(247, 252, 251);
}

.justificado{
  text-align: justify;
  font-size: 20px;
  padding-right: 100px;
}

.titulo{
  color: black;
  font-weight: bold;
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 60px;
}

.centro{
  padding-top: 20%;
}

.card{
  border: 0.5px solid rgb(236, 236, 236);
  box-shadow:  -1px 10px 12px -4px rgb(231, 230, 230);
  margin:1%;
  padding: 6px;
}

.centro2{
  padding-top: 5%;
}

a {
  color: black;
  font-weight: bold;
}

a.card {color: #000000; text-decoration: none;}


.ph__remedy-composition {
  text-transform: lowercase;
}

.ph__remedy-laboratory,
.ph__remedy-composition,
.ph__remedy-hospital,
.ph__remedy-targe {
  color: #6b6b6b;
}

.ph__remedy-targe span,
.ph__remedy-hospital span {
  color: #12263d
}

    /* Number of Cards by Row based on Viewport */
    @media (min-width: 576px) {
      .card-group .card {
          min-width: 50.1%; /* 1 Column */
          margin-bottom: 12px;
      }
  }

  @media (min-width: 768px) {
      .card-group .card {
          min-width: 33.4%;  /* 2 Columns */
      }
  }

  @media (min-width: 992px) {
      .card-group .card {
          min-width: 25.1%;  /* 3 Columns */
      }
  }

  @media (min-width: 1200px) {
      .card-group .card {
          min-width: 20.1%;  /* 4 Columns */
      }
  }

 .card-body {
    border-top: 6px solid #107b7b;
}

.cep-local {
  color: #b1b1b1;
  text-transform: lowercase;
}