* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #228483;
  --secondary-color: #f47c46;
  --text-color: #606060;
  --title-color: #3c3c3c;
  --dark-color: #12253d;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased !important;
}

/*----------------------------------------------
    HEADER
----------------------------------------------*/

nav {
  background-color: var(--primary-color);
}

nav a,
nav a:hover {
  color: #ffffff;
}
nav a {
  position: relative;
  text-align: right;
}
header nav a:hover {
  transition: 700ms;
}

header nav a::after {
  content: '';
  width: 0;
  height: 5px;
  background-color: var(--secondary-color);
  position: absolute;
  right: 0;
  bottom: -10px;
}

header nav a:hover::after {
  width: 100%;
  transition: width 400ms ease-in-out;
}

/*----------------------------------------------
    Body-Main-Section
----------------------------------------------*/
.dados-pessoais {
  display: flex;
  flex-direction: flex-start;
}

.foto {
  width: 10%;
  height: 10%;
  border-radius: 50%;
}

/*----------------------------------------------
    Body-Main-Section_Tela de Dados
----------------------------------------------*/
.container-fluid{
  width: 80%;
}

.row{
  margin-top: 4%;
  justify-content: space-around;
}

.centralizado{
  text-align: center;
}


#nome{
  color: #F47C46;
  font-size: 48px;
  padding-top: 3%;
  padding-bottom: 2%;
  font-weight: bold;
}

p{
  font-size: 35px;
}

.identificacao{
  font-weight: bold;
  padding-top: 3%;
 }

.dados{
  color: #F47C46;
  font-size: 43px;
  padding-top: 2%;
  padding-bottom: 6%;
}

.descricao{
  font-size: 28px ;
}

.destaque{
  background-color:rgb(247, 252, 251);
}

.justificado{
  text-align: justify;
  font-size: 20px;
  padding-right: 100px;
}

.titulo{
  color: black;
  font-weight: bold;
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 60px;
}

.centro{
  padding-top: 20%;
}

.card{
  border: 0.5px solid rgb(236, 236, 236);
  box-shadow:  -1px 10px 12px -4px rgb(231, 230, 230);
  margin:1%;
  padding: 6px;
}

.centro2{
  padding-top: 5%;
}

a {
  color: black;
  font-weight: bold;
}

/*----------------------------------------------
    Footer
----------------------------------------------*/
footer {
  background-color: black;
  color: white;
  box-sizing: border-box;
  text-align: center;
}
