* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #228483;
  --secondary-color: #f47c46;
  --text-color: #606060;
  --title-color: #3c3c3c;
  --dark-color: #12253d;
}

body {
  
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased !important;
}

/*----------------------------------------------
    HEADER
----------------------------------------------*/

nav {
  background-color: var(--primary-color);
}

.navbar-brand > img {
  max-width: 132px;
}

.navbar-toggler-icon{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")}

nav a, nav a:hover {
  color: #ffffff;
}
nav a {
  position: relative;
}
header .ph__navbar-list a:hover {
  transition: 700ms;
}

header .ph__navbar-list a::after {
  content: "";
    width: 0;
    height: 5px;
    background-color: var(--secondary-color);
    position: absolute;
    left: 0;
    bottom: -5px;
}

header .ph__navbar-list a:hover::after {
  width: 100%;
  transition: width 400ms ease-in-out;
}

.bg-menu{
  background-color: #228483!important;
}

#home{
  padding-right: 30px;
}

/*----------------------------------------------
    SECTION
----------------------------------------------*/
.container-fluid{
  padding:0px;
}

@media(max-width:720px){

#formulario{
  margin-bottom:5px;
}



}

#search {
  background-color: #2AA095;
  /* height:11.666vh; */
  margin:0;
  
}

form{
  background-color: #2AA095;
  padding:10px;
}

h1.titlesearch {
  color: white;
  font-weight: bolder;
  display:block;
  text-align: center;
  padding: 30px 15px;
}

section H3{
 
  color: #ffffff;
  text-align: center;
  padding-bottom:30px;
  font-weight: bolder;
  margin:0;
}

#main{
  /* height: 32.5vh; */
}

#svg{
  height: 30vh;
  margin:0;
}

.um {
  
  padding-right:50px;
  padding-top:25px;
}

.dois {
  
  padding-left:50px;
  
}

 .row{
  margin:50px;
  
}


/*----------------------------------------------
    FOOTER
----------------------------------------------*/
.footer {
  width: 100%;
  line-height: 60px; /* Vertically center the text there */
  background-color: #12253D;
}

.footer > div {
  text-align: center;
}

.footer > div span {
  color: #8593A3;
}



